#mapid { height: 600px; }

*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background: #cfcbc6; /* light gray */
    --color-primary: #5db5a5;
    --color-primary2: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    background: var(--color-primary) ;
    background: -webkit-linear-gradient(right, #cfcbc6, #cfcbc6); /* gradient light gray for webkit browsers */
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --border-radius: 3px;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }

.menu-bar{
    overflow-x: hidden; /*Διώχνει το κενό δεξία στο menu bar*/
    background-color: #5db5a5;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
   /* Optional set the opacity for a slightly transparent menu*/
    
}

.menu-bar ul{
    font-weight: 700;
    display: inline-flex;
    list-style: none;
    color: white;
    font-size: large;
    position:relative; 
    display: flex;        /* Added */
    align-items: center;  /* Added */
    justify-content: center; /* Added */
}

.menu-bar ul li{
  width:150px;
  margin:10px;
  padding:5px;

}

.menu-bar ul li:hover{
  
  background: #318878;
  border-radius: 3px;
  
}


a {
  color: inherit; /* The link will be the same color as the surrounding text */
  text-decoration: none; /* Removes underline */
}

.pressed{
  background-color: #115b4a;
  color: white;
  border-radius: 3px;
}


.container {
  max-height: calc(100vh - 200px);  /* Υπολογίζει το ύψος του container για να χωράει κάτω από το menu bar */
  overflow-y: auto; /* Προσθέτει κάθετη ολίσθηση όταν το περιεχόμενο υπερβαίνει το ύψος */
  width: 80%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 70px;
  background-color: #f8f8f8a9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


.frame-container {
  position: relative;
  width: calc(20% - 10px);
  cursor: pointer;
}

.frames {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.frames img:hover {
  opacity: 0.4;  /* makes the image duller on hover */
}


.frames img {
    width: 100%;
    height: 100%; /* Γεμίζει τον χώρο του πλαισίου */
    object-fit: cover; /* Προσαρμογή της εικόνας στο πλαίσιο χωρίς να την παραμορφώνει */
    border: 3px solid #ddd;
    border-radius: 15px;
    transition: opacity 0.3s;
  }

.frame-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  display: none;  /* initially hide the text */
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);  /* shadow for better readability */
}

#frameDisplay img {
  width: 100%;
  border: 5px solid #ddd;
  border-radius: 5px;
  margin-top: 20px;
}

.delete-button {
  background-color: #cc3333; /* A reddish color to imply danger/caution */
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s; /* Transition effect for hover state */
}

.delete-button:hover {
  background-color: #992222; /* A slightly darker shade for hover */
}

.frame-container:hover .frame-text {
  display: block;  /* show the text on hover */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: center;
  border: 1px solid black;
}

.container p {
  text-align: center; /* Κεντρική στοίχιση */
  margin-top: 10px; 
  margin-bottom: 20px;
}

.shop-button {
  display: block; /* Initially set it to none, and change it to block when you want to show it */
  margin: 10px auto; /* Center it */
  padding: 5px 15px; /* Padding to give it space */
  background-color: #5db5a5; /* From your .menu-bar */
  color: white; /* Text color */
  font-weight: 700; /* Bold font from .menu-bar ul */
  font-size: large; /* From .menu-bar ul */
  border: none; /* No border */
  border-radius: 3px; /* From .menu-bar ul li:hover */
  cursor: pointer; /* Hand cursor on hover */
  text-align: center;
  transition: opacity 0.3s, background-color 0.3s; /* Smooth transition for hover effects */
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); /* From .menu-bar */
  text-decoration: none; /* In case it's a link later */
}

.shop-button:hover {
  background-color: #318878; /* Darker color on hover, from .menu-bar ul li:hover */
  opacity: 0.9; /* Slight fade on hover for effect */
}

#frameDisplayTable {
  transition: opacity 0.5s; /* 0.5s is the duration of the transition, you can adjust it */
  opacity: 1; /* Fully visible by default */
}
