/* Styles for the leaderboard table */
.container {
    width: 100%;  /* This will make the container take the full width of its parent. */
    box-sizing: border-box;  /* This will include padding and border in the container's total width. */
    margin-top: 20px;  /* This will move the container 20 pixels downwards. Adjust as needed. */
    overflow-x: hidden;  /* This will hide any horizontal overflow, effectively removing the horizontal scrollbar. */
    padding: 0 20px;  /* This provides some space on either side of the content inside the container. */
    
}

.container h2 {
    margin-top: 23px;  /* Adjust as needed to create space above the h2 */
    margin-bottom: 23px;  /* Adjust as needed to create space below the h2 */
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 0.95em;  /* Adjust font size for better readability */
}

th, td {
    text-align: left;
    padding: 10px; /* Increase padding for better spacing */
    border-bottom: 1px solid #ddd; /* Add horizontal borders to each cell for better separation */
}

tr:last-child td {
    border-bottom: none; /* Remove border from the last row */
}

tr:hover {
    background-color: #f5f5f5; /* Add a hover effect on rows for better interactivity */
}

th {
    background-color: #4CAF50;
    color: white;
    position: sticky;   /* Makes the headers sticky */
    top: 0;             /* Stick to the top of its container */
    z-index: 2;         /* Ensures it appears above the rows */
}

/* Pagination styles */
.pagination {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    align-items: center;
}

.pagination a, .pagination span {
    margin: 0 10px;  /* Increased space between buttons */
    padding: 8px 12px;  /* Increased padding for a larger click area */
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
    border-radius: 4px;  /* Rounded corners */
    transition: all 0.3s;  /* Smooth transition for hover effects */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  /* Subtle shadow for depth */
    font-weight: 500;  /* Slightly bolder font */
}

.pagination a:hover {
    background-color: #007BFF;  /* Changed to a blue color for hover */
    color: #fff;  /* Text color is white when hovered */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);  /* Increased shadow on hover for a lifting effect */
}

.pagination span {
    background-color: #007BFF;  /* Active page has a different background */
    color: #fff;  /* Text color for the active page */
}

h2 {
    text-align: center; /* To center the text within the h2 element */
}