#mapid { height: 600px; }

*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background: #cfcbc6; /* light gray */
    --color-primary: #5db5a5;
    --color-primary2: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    background: var(--color-primary) ;
    background: -webkit-linear-gradient(right, #cfcbc6, #cfcbc6); /* gradient light gray for webkit browsers */
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --border-radius: 3px;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }

.menu-bar{
    overflow-x: hidden; /*Διώχνει το κενό δεξία στο menu bar*/
    background-color: #5db5a5;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
   /* Optional set the opacity for a slightly transparent menu*/
    
}

.menu-bar ul{
    font-weight: 700;
    display: inline-flex;
    list-style: none;
    color: white;
    font-size: large;
    position:relative; 
    display: flex;        /* Added */
    align-items: center;  /* Added */
    justify-content: center; /* Added */
}

.menu-bar ul li{
  width:150px;
  margin:10px;
  padding:5px;

}

.menu-bar ul li:hover{
  
  background: #318878;
  border-radius: 3px;
  
}


a {
  color: inherit; /* The link will be the same color as the surrounding text */
  text-decoration: none; /* Removes underline */
}

.pressed{
  background-color: #115b4a;
  color: white;
  border-radius: 3px;
}





.form {  /* Παραμετροποιείται το εσωτερικό πλαίσιο της φόρμας */
  position: flex;
  z-index: 1;
  background: #d1e3ed;
  max-width: 515px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 
.form input {
  font-family: sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}



.form button {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-primary2);
}
.form button:hover,.form button:active,.form button:focus {
  background: #007f67;
}


.select-dropdown{
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  text-align: center;
}
.select-dropdown {
  position: relative;
  background-color: #f2f2f2;
  border-radius: 4px;
  text-align: center;
}


.select-dropdown select {
  font-size: 1rem;
  font-weight: normal;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
  appearance: none;
}

.select-dropdown select:active, .select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.select-dropdown:after {
  content: "";
  position: relative;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #f2f2f2;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}