#mapid { height: 700px; }

*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body{

  font-family:sans-serif;

}

.menu-bar{
    background-color: #5db5a5;
    text-align: center;
   /* Optional set the opacity for a slightly transparent menu*/
    
}

.menu-bar ul{
    font-weight: 700;
    display: inline-flex;
    list-style: none;
    color: white;
    font-size: large;
    position:relative; left:100px; 
    display: flex;        /* Added */
    align-items: center;  /* Added */
    justify-content: center; /* Added */
}

.menu-bar ul li{
  width:150px;
  margin:15px;
  padding:15px;

}

.menu-bar ul li:hover{
  
  background: #318878;
  border-radius: 3px;
  
}

.user{
  margin:40px;
  padding-right:40px;
  font-size:large; 
  overflow: visible;
  white-space: nowrap;
  color: white;
  padding-left:1000px;
  text-align:center;
  position:relative; left:160px; 
  display: flex;        /* Added */
  align-items: center;  /* Added */
  justify-content: center; /* Added */

}

.home{
  margin:40px;
  padding-right:40px;
  padding-left:1000px;
  font-size:large; 
  overflow: visible;
  white-space: nowrap;
  color: white;
  text-align:center;
  position:relative; left:10px; 
  display: flex;        /* Added */
  align-items: center;  /* Added */
  justify-content: center; /* Added */
}

a {
  color: inherit; /* The link will be the same color as the surrounding text */
  text-decoration: none; /* Removes underline */
}

.pressed{
  background-color: #115b4a;
  color: white;
}

.profile-settings {  /* Παραμετροποιείται το εσωτερικό πλαίσιο της φόρμας */
  position: relative;
  z-index: 1;
  background: #9FFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: left;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
} 

.profile-settings button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 10;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;

}